/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	/*font: 300 18px/36px "Merriweather", Georgia, serif;*/
	background-color: #e8e8e8;
	font: 400 16px/32px 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h-card .p-name, #channels a, .post-footer a, .pager a, .auth-button, .float-menu a {
	font: normal 400 17px/32px "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {font-size: 34px;}
h2 {font-size: 32px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 16px;}

h1, h2, h3, h4, h5 {
	margin: 0 0 35px 0;
	color: #212121;
}

img {
	max-width: 100%;
}

pre, code {
	margin: 0 0 15px 0;
	font: 400 15px/24px monospace;
	color: #c5c8c6;
	background: #212121;
	overflow-x: auto;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

pre {
	padding: 15px 20px;
}

code {
    margin: 0;
    padding: 3px 7px;
}

pre code {
	display: block;
	text-indent: 0em;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

a, a:visited, a:hover, a:focus, a:active {
	color: #0F7ABE;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}

blockquote {
	background-color: #f4f4f4;
	border-left: 2px solid #ddd;
	padding: 20px;
}

blockquote p:last-child {
	margin-bottom: 0;
}

ul {
	/* hanging indents http://alistapart.com/article/taminglists/ */
	padding-left: 1em;
	text-indent: -1em;
}

sup {
	vertical-align: super;
	font-size: smaller;
}


#header {
	/*background-color: #2A2D35;*/
}

.float-menu {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
}

.float-menu a {
	text-decoration: none;
	padding: 10px;
	font-size: 13px;
	line-height: 10px;
	color: white;
	background-color: #999;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.float-menu a:hover {
	background-color: #212121;
}

#header .h-card {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

#header .h-card .u-url {
	width: auto;
	margin: 0 auto;
	display: inline-block;
}

#header .h-card img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

#header .h-card .p-name {
	color: #212121;
	margin: 0;
	/*color: white;*/
}

#header .h-card .bio a {
	text-decoration: underline;
}

#header .h-card .bio, #header .h-card .bio a {
	font-size: 14px;
	line-height: 26px;
	color: #999;
	/*color: #AEC7D1;*/
}


.section {
	/*padding: 50px 0;*/
}


#channels li, #about-links li {
	margin: 0;
	padding: 8px 14px;
}

#channels a {
	text-decoration: none;
	font-size: 13px;
	font-weight: 100;
	display: block;
}

.deem {
	opacity: 0.8;
	font-weight: lighter;
}

.h-entry .deem {
	color: #0F7ABE;
}

.h-entry .u-url {
	margin-left: 0;
}

.h-entry .content, #responses .content {
/* http://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	max-height: 999999px; /* http://code.google.com/p/chromium/issues/detail?id=138257#c25 */
}

.post-box {
	background-color: white;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),0px 2px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 31px;
	color: #555;
	padding: 31px;
}


.post-footer {
	opacity: .65;
	border-top: 1px solid #F3F3F3;
	padding-top: 10px;
	/*position: relative;
	min-height: 20px;*/
}

.post-footer a {
	margin-left: 15px;
	font-size: 13px;
	line-height: 10px;
	text-decoration: none;
	white-space: nowrap;
	color: #999;
}


.pager {
	margin-bottom: 31px;
}

.pager a {
	text-decoration: none;
	padding: 10px;
	font-size: 13px;
	line-height: 10px;
	color: #999;
}

.post-footer a:hover, .pager a:hover {
	color: #212121;
}

.pager .older {
	float: right;
}

#nav {
	padding: 50px 0 0 0;
}


#nav a {
	color: #fff;
}

.tags {
	padding: 31px;
	background-color: #999;
}

.tags a.tag {
	text-decoration: none;
	font-size: 13px;
	line-height: 10px;
	color: white;
	padding: 5px;
}

.infobox {
	padding: 0 0 31px 0;
	text-align: center;
}

.response img {
	top: 4px;
	margin-right: 10px;
	position: relative;
}

.response .content {
	padding-bottom: 31px;
	margin-left: 42px;
}

.response .post-footer {
	border-top: none;
}

.response .post-footer a {
	margin-left: 0;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#header .h-card {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        .container { width: 94%; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/