
	DirectoryIndex index.php

	# Deny directory listings
	Options -Indexes

	# Follow symbolic links
	Options +FollowSymLinks

	# Disable Content Negotiation to stop `RewriteCond %{REQUEST_FILENAME} !-f` from matching .php files
	# /post will match /post.php if this is enabled
	Options -Multiviews


	<IfModule mod_rewrite.c>

		RewriteEngine On
		RewriteCond %{REQUEST_FILENAME} !-f
		#RewriteCond %{REQUEST_FILENAME} !-d
		#RewriteCond %{REQUEST_FILENAME} !-s
		#RewriteCond %{REQUEST_FILENAME} !-l

#######################################################################
#
# Change the path below to the location of your index.php
# file relative to your webservers DocumentRoot.
#
#######################################################################

		RewriteRule  .*  index.php
	</IfModule>


	# Protect .htaccess
	<Files .htaccess>
		order deny,allow
		deny from all
	</Files>